.wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
 align-self: stretch;
 flex-grow: 1;
 justify-content: flex-start;
 padding: 16px;
}

.imageWrapper {
 display: flex;
 flex-direction: column;
 /*justify-content: center;*/
 align-items: center;
 position: relative;
 flex-grow: 1;
 /*height: 70vh;*/
 width: 100%;
 /*box-shadow: 0 -2px hsla(0, 0%, 100%, 15);*/
 box-shadow: 0 4px 2px -2px  hsla(0, 0%, 100%, 15), inset 2px 2px hsla(0,0%,0%,0.1);
 background: #FAF9F7;

}


.image {
 object-fit: contain;
 padding: 16px;

}

.imageNumberInfoText {
  font-size: medium;
  padding: 14px;
  color: #27241d;
}

.loader {
 z-index: 1000;
 position: absolute;
 top:0;
 bottom: 0;
 left: 0;
 right: 0;
 color: #87EAF2;
 opacity: 0.8;
 width: 25px;
 height: 25px;
 margin: auto;
 /* The animation part: */
 animation-name: spin;
 animation-duration: 1000ms;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
}
@keyframes spin {
 from {transform:rotate(0deg);}
 to {transform:rotate(360deg);}
}
.imageNumberInfoText .firstNumber {
 color: #27241d;
}

.imageNumberInfoText .secondNumber {
 color: #27241d;
}

.infoAndControlWrapper {
 display: flex;
 flex-direction: row;
}

.link {
 color: #38BEC9;
 text-decoration: none;
}



.imageVerdictButtons {
 display: flex;
 align-items: stretch;
 align-self: stretch;
 /*flex-basis: 40px;*/
 justify-content: center;
}

.resultsButton {
 display: flex;
 /*background: transparent;*/
 /*background-color: #51CA58;*/
 opacity: 1;
 font-size: large;
 color: #2CB1BC;
 overflow: hidden;
 align-items: center;
 padding-top: 4px;
 padding-bottom: 4px;
 margin-left: 3px;
 margin-right: 3px;
 /*flex-basis: 200px;*/
}

.resultsButton:hover {
 opacity: 1;
 transition: opacity 80ms;
 cursor: pointer;
}

.resultsButton:focus {
 opacity: 1;
 transition: opacity 80ms;
}

.resultsButton:disabled {
 align-items: center;
 /*pointer-events: none;*/
 cursor: not-allowed;
 opacity: 0.2;
}